In [7]:
import pandas as pd
import numpy as np

#read in our card database json
df = pd.read_json('default-cards-20220912210801.json')

#create dummy arrays to hold data for sorting / merging
name_list = df['name'].copy()
price_list = df['prices'].copy()

#array to hold the sorted name and price data
price_array = [0] * 500

#for loop to extract the first entry from each dictionary in the price_list
for i in range(0, 500):
    #get the usd price of each card
    first_pair = list(price_list[i].items())[0]
    
    #add the price to the second [i][1] index of our name_price_array
    price_array[i] = first_pair[1]

#for loop to extract first 500 names in name_list array
sortable_names = [''] * 500
for i in range(0, 500):
    sortable_names[i] = name_list[i]

#numpify our arrays to add them to a dataframe
nump_names = np.asarray(sortable_names)
nump_prices = np.asarray(price_array)

name_price = pd.DataFrame(nump_names)

name_price['price'] = nump_prices

name_price.price = name_price.price.astype(float)

name_price = name_price.sort_values('price', ascending=False)

name_price.head()
#sorted_name_price_frame = name_price_frame.sort_values(by=['1'], 
#                                                       ascending=False)

                               0   price
292                        Taiga  680.00
33                     Shahrazad  498.74
189  Lady Zhurong, Warrior Queen  206.11
410                Imperial Seal  100.38
373              Word of Command   79.89